#general 
/.phpunit.cache
/public/build
/public/hot
/public/storage
/storage/*.key
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# dot files
.env
.env.backup
.env.example
.env.production
.phpactor.json
.phpunit.result.cache
.editorconfig
.gitattributes

# Bootstrap dir
/boostrap
/bootstrap/ssr

# composer files
.composer.json
.composer.lock

#config files
/config
jsconfig.json
package.json

# node
/node_modules

#php
phpunit.xml

#config js files
tailwind.config.js
postcss.config.js

#public
/public

#resources 
/resources/markdown
/resources/js/Components
/resources/js/Pages/API
/resources/js/Pages/Auth
/resources/js/Pages/Profile
/resources/js/ssr.js
/resources/js/utils
/resources/views

#routes
routes/console.php
/storage

#tests

/tests

#vendor
/vendor


# log files
*.log
